.achieves-main-panel {
    position: absolute;
    top: 10vh;
    right: 1vw;
    z-index: 50;
    width: 35vw;
    padding-left: 2%;
    padding-top: 1.5%;
    min-height: 25.2vw;
    background: #fff;
    border-radius: 20px ;
    box-shadow: 0px 0px 30px #1D587A;
}

.achieves-main-panel h1 {
    color: #1D587A;
}

.krestik {
    cursor: pointer;
}

.achieves-main-panel .achieves-title-panel {
    display: flex;
    flex-direction: row;
    gap: 18vw;
    
}
.achieves-main-panel .achieves-list {
    padding-left: 2%;
    padding-top: 10%;
    gap: 20%;
    display: flex;
    flex-direction: row;
}

.achieves-main-panel .achieves-list .achivement-item {
    padding: 4%;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    flex-direction: column;
}
.achieves-main-panel .achieves-list .achivement-item h4 {
    padding-top: 10%;
    color: #1D587A;
}
img {
    margin: auto;
    width: 8vw; /* Ширина картинки */
    height: auto; /* Высота будет пропорциональной */
  }