.Header {
    position: absolute;
    width: 100%;
    z-index: 9999;
}
.Header .wrapper {
    align-items: center;
    display: flex;
    flex-direction: row;
    /* flex-wrap:wrap; */
    gap: 23vw;
    width: 100%;
    background: #1D587A;
}

.Header .logo {
    margin-left: 50px;
}

.Header .wrapper .menu {
    display: flex;
    flex-direction: row;
    /* flex-wrap:wrap; */
    gap: 2vw;
}

.Header h1 {
    font-size: 1.7vw; 
    color: white;
}

.Header .bx-user {
    font-size: 2vw;
}


@media (min-width: 1640px) { 
    .Header .wrapper {
        min-height: 8vh;
        max-height: 10vh;
    }
    .Header h1 {
        font-size: 1.7vw; 
        color: white;
    }
    .Header .bxs-user-circle {
        font-size: 3vw;
        margin-left:5vw;
    }
    .Header .bx-menu {
        font-size: 3vw;
        margin-left:0.5vw;
    }
  }
  
  /* Для планшетов */
  @media (max-width: 768px) {
    .Header .wrapper {
        min-height: 50px;
        max-height: 60px;
        gap: 16vw;
      }
      .Header h1 {
        font-size: 2.5vw; 
        color: white;
    }
    .Header .bx-user {
        font-size: 3vw;
    }
    .Header .bxs-user-circle {
        font-size: 4vw;
        margin-left:5vw;
    }
    .Header .bx-menu {
        font-size: 4vw;
        margin-left:0.5vw;
    }
    .Header .logo {
        margin-left: 2vw;
    }
  }
  
  /* Для мобильных устройств */
  @media (max-width: 480px) {
    .Header .wrapper {
        min-height: 6vh;
        max-height: 8vh;
        gap: 20vw ;
    }
    .Header h1 {
        font-size: 2.2vw; 
        color: white;
    }
    .Header .bx-user {
        font-size: 2vw;
    }
    .Header .logo {
        margin-left: 2vw;
    }
    .Header .bxs-user-circle {
        font-size: 4vw;
        margin-left:5vw;
    }
    .Header .bx-menu {
        font-size: 4vw; 
        margin-left:0.5vw;
    }
  }