.Header {
    position: absolute;
    width: 100%;
    z-index: 9999;
}
.Header .wrapper {
    min-height: 8vh;
    max-height: 10vh;
    align-items: center;
    display: flex;
    flex-direction: row;
    /* flex-wrap:wrap; */
    gap: 23vw;
    width: 100%;
    background: #1D587A;
}

.Header .logo {
    margin-left: 50px;
}

.Header .wrapper .menu {
    display: flex;
    flex-direction: row;
    /* flex-wrap:wrap; */
    gap: 2vw;
}

.Header h1 {
    font-size: 1.7vw; 
    color: white;
}

.Header .bx-user {
    font-size: 32px;
}
