
.investigations-page {
    height: 80%;
    margin: 0;
    padding: 0;
    z-index: 9999;
}

.investigations-page .main-container {
    width: 98vw;
    height: 90vh;
    position: relative;
    align-items: center;
    justify-content: center; 
    margin: auto;
    background: #E2E2E2;
}
.investigations-page .main-container .title-container {
    padding-top: 5vh;
    text-align: center;
    align-items: center;
    justify-content: center; 
    display: flex;
    flex-direction: column; 
}
.investigations-page .main-container .title-container .menu {
    display: flex;
    padding-top: 2vh;
    gap: 3vw;
    flex-direction: row;
}

.investigations-page .main-container .title-container .menu button {
    border: none;
    background-color: white;
    border-radius: 15px;
    width: 15vw;
    height: 5vh;
    box-shadow: 3px 3px 15px #1D587A;
}

.investigations-page .main-container .title-container .menu  .menu-inv-list {
    box-shadow: 4px 4px 40px #1D587A;
}

.investigations-page .main-container .title-container .menu p {
    font-size: 1vw;
}

.investigations-page .investigations-list{
    font-size: 16px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 100px 0;
    column-gap: 7rem;
    row-gap: 1rem;
    max-width: 100%;
    align-items:flex-start;
}

.investigations-page .row{
    cursor: pointer;
    width: 500px;
    padding: 1vw;
    height: 50vh; /* vremenno */
    min-height: 20vh;
    max-height: 50vh;
    background: #fff;
    border-radius: 15px;
    word-break:keep-all;
    text-align: center;
    margin: 3px 0;
    align-content: start;   
    box-shadow: 3px 5px 20px #1D587A;
}


.beginner {
    color: green;
  }
  
  .middle {
    color: #C36A2A;
  }
  
  .professional {
    color: #FF0000;
  }
  