
.investigations-page {
    margin: 0;
    padding: 0;
}
.investigations-page .main-container {
    width: 100%;
    height: 100vh;
    position: relative;
    align-items: center;
    justify-content: center; 
    margin: auto;
    background: #E2E2E2;
}
.investigations-page .main-container .title-container {
    padding-top: 12vh;
    text-align: center;
    align-items: center;
    justify-content: center; 
    display: flex;
    flex-direction: column; 
}
.investigations-page .main-container .title-container .menu {
    display: flex;
    padding-top: 2vh;
    gap: 3vw;
    flex-direction: row;
}
.investigations-page .main-container .title-container h1 {
    color: #1D587A;
}
.investigations-page .main-container .title-container .menu button {
    border: none;
    background-color: white;
    border-radius: 15px;
    width: 15vw;
    height: 5vh;
    box-shadow: 0px 0px 15px #1D587A;
    cursor: pointer;
}

.investigations-page .main-container .title-container .menu  .menu-inv-list {
    box-shadow: 5px 5px 40px #0973b1;
}

.investigations-page .main-container .title-container .menu p {
    font-size: 1vw;
    color:#1D587A;
}

.investigations-page .investigations-list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 4%;
    column-gap: 7rem;
    row-gap: 1rem;
    width: 100%;
    align-items:flex-start;
}

.investigations-page .row{
    width: 500px;
    padding: 1vw;
    
    min-height: 20vh;
    max-height: 50vh;
    background: #fff;
    border-radius: 15px;
    word-break:keep-all;
    text-align: center;
    margin: 3px 0;
    align-content: start;   
    box-shadow: 3px 5px 20px #1D587A;
}
.investigations-page .row .investigation-level {
    margin-bottom: 2vh;
}

.investigations-page .investigation-info-panel {
    min-height: 10vh;
    max-height: 20vh;
    background: #fff;
    border-radius: 15px;
    word-break: break-all;
    text-align: center;
    margin: 3px;
    margin-bottom: 3vh ;
    align-content: start;   
    box-shadow: 3px 5px 20px #1D587A;
    
}
.investigations-page .investigation-info-panel .panel-title{
    text-align: left;
    padding-left: 2vw;
    padding-top: 2vh;
}

.investigations-page .investigation-info-panel .panel-info {
    text-align: left;
    padding-left: 2vw;
    padding-top: 2vh;
    margin-bottom: 2vh;
    max-width: 430px;
}

.beginner {
    color: green;
  }

.middle {
    color: #C36A2A;
}
.professional {
    color: #FF0000;
}

.investigations-page .investigations-list .investigation-progress-panel {
    display: flex;
    min-height: 5vh;
    max-height: 5vh;
    background: #fff;
    border-radius: 15px;
    word-break: break-all;
    text-align: center;
    gap: 260px;
    margin: 3px 0;
    flex-direction: row;
    box-shadow: 3px 5px 20px #1D587A;
    margin-bottom: 3vh ;
}
.investigations-page .investigations-list .investigation-progress-panel h4 {
    padding-top: 1vh;
    padding-left: 2vw;
    text-align: left;
}
.investigations-page .investigations-list .investigation-progress-panel h3 {
    padding-top: 1vh;
    text-align: right;
}

.investigations-page .investigations-list .row button{
    border: none;
    background-color: white;
    border-radius: 15px;
    width: 10vw;
    height: 5vh;
    box-shadow: 0px 0px 15px #1D587A;
    cursor: pointer;
}
  
.investigations-page .investigations-list .row button p {
    font-size: 1.2vw;
    color:green;
}
@media (max-width: 480px) {
    .investigations-page .main-container .title-container .menu button {
        width: 28vw;
        height: 5vh;
    }

    .investigations-page .main-container .title-container .menu p {
        font-size: 2.8vw;
    }



    .investigations-page .investigation-info-panel .panel-title{
        text-align: left;
        padding-left: 5vw;
        padding-top: 2vh;
    }
    .investigations-page .investigation-info-panel .panel-info {
        text-align: left;
        padding-left: 5vw;
        padding-top: 2vh;
        margin-bottom: 2vh;
        max-width: 350px;
    }




    .investigations-page .investigations-list .investigation-progress-panel {
        gap: 200px;
    }
    .investigations-page .investigations-list .investigation-progress-panel h4 {
        padding-top: 1vh;
        padding-left: 5vw;
        text-align: left;
    }
    .investigations-page .investigations-list .investigation-progress-panel h3 {
        padding-top: 1vh;
        text-align: right;
    }


    .investigations-page .investigations-list .row button{
        width: 35vw;
        margin-bottom: 2vh;
    }
    .investigations-page .investigations-list .row button p {
        font-size: 5vw;
        color:green;
    }
}