.map-container {
  position: relative;
  width: 100vw;
  height: 100vh; 
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin: auto;
}

.map-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Масштабирование и обрезка изображения без пустых областей */
  display: block;
}

.map-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Черный слой с 50% прозрачностью */
  z-index: 1;
}



.map-marker {
  position: absolute;
  background: white; /* Цвет маркера */
  border: none;
  border-radius: 50%;
  width: 3vw;
  height: 3vw;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transform: translate(-50%, -50%);
  z-index: 2;
  transition: all .15s ease;
}

.map-marker:hover {
    width: calc(3vw + 1vw);
    height: calc(3vw + 1vw);
}

/* Для больших экранов */
@media (min-width: 1640px) {
  .map-container {
    max-width: 1640px;
  }
}

/* Для планшетов */
@media (max-width: 768px) {
  .map-container {
    max-width: 600px;
  }
  .map-marker {
    width: 8vw;
    height: 8vw;
    font-size: 14px;
  }
  .map-marker:hover {
    width: calc(8vw + 1vw);
    height: calc(8vw + 1vw);
  }
}

/* Для мобильных устройств */
@media (max-width: 480px) {
  .map-container {
    max-width: 400px;
  }
  .map-marker {
    width: 8vw;
    height: 8vw;
    font-size: 14px;
  }
  .map-marker:hover {
    width: calc(8vw + 1vw);
    height: calc(8vw + 1vw);
  }
}


