.materials-main-panel {
    display: flex;
    flex-direction: column ;
    position: absolute;
    top: 10vh;
    left: 4.1vh;
    z-index: 50;
    width: 96vw;
    text-align: center;
    align-items: center;
    min-height: 75vh;
    max-height: 80vh;
    background: #fff;
    border-radius: 20px ;
    box-shadow: 0px 0px 30px #1D587A;
}

.materials-top-title {
    font-size: larger;
    box-sizing: border-box;
    gap: 10vh;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 2vh;
    padding-top: 5vh;
    color: #1D587A;
}

.materials-main-panel hr {
    margin-bottom: 2vh;
    height: 5px;
    border-top: 2px solid #1D587A;
    width: 50vh;
}

.materials-main-panel .krestik1 {
    position: absolute;
    top: 5vh;
    right: 17vh;
    color: #1D587A;
    cursor: pointer;
}

.materials-top {
    width: 75vw;
    height: 5vh;
    min-height: 35vh;
    background: #1D587A;
    border-radius: 20px ;
    box-shadow: 0px 0px 10px #000000;
    color: white;
    padding: 5vh 5vh;
    font-size: small;
    text-align: left;
}
.materials-top h2 {
    margin-bottom: 2vh;
}
.materials-top .materials-info {
    display: flex;
    flex-direction: row;
    gap: 2vw;
}
.materials-top .materials-info .materials-text {
    display: flex;
    flex-direction: column;
    gap: 5vh;
    max-width: 50vw;
}
.materials-top .materials-info .materials-text a {
    font-size: 1vw;
}
.materials-img img {
    margin: auto;
    width: 20vw; /* Ширина картинки */
    height: auto; 
}