.materials-main-panel {
    position: absolute;
    top: 10vh;
    z-index: 50;
    width: 70vw;
    height: 70vh;
    min-height: 28.2vw;
    background: #fff;
    border-radius: 20px ;
    box-shadow: 0px 0px 30px #1D587A;
}